@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-light-text dark:bg-dark-bg dark:text-dark-text transition-colors duration-300;
  }

  :root {
    --toast-bg: #ffffff;
    --toast-color: #1f2937;
  }

  .dark {
    --toast-bg: #1f2937;
    --toast-color: #f9fafb;
  }
}